{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Configuración 
                </h1>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Speech</h5>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'speech:list' %}" class="btn btn-primary btn-block m-t"><i class="fa fa-file-text-o"></i> Ver configuración</a>
                </div>
                    
            </div>            
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Usuarios</h5>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'users:users_list' %}" class="btn btn-primary btn-block m-t"><i class="fa fa-file-text-o"></i> Ver configuración</a>
                </div>
                    
            </div>            
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Permisos</h5>
                </div>
                <div class="ibox-content">
                    <a href="{% url 'users:groups_list' %}" class="btn btn-primary btn-block m-t"><i class="fa fa-file-text-o"></i> Ver configuración</a>
                </div>
                    
            </div>            
        </div>
        
    </div>
    
{% endblock %}